<p class="notice"><%= notice %></p>
<%= render 'room' %>
<p>
  <b>Nazwa:</b>
  <%= @room.name %>
</p>

<p>
  <b>Opis</b>
  <%= @room.description %>
</p>


<%= link_to 'Edytój', edit_room_path(@room) %> |
<%= link_to 'Powrót', rooms_path %> |
<%= link_to 'Seanse', :controller => :showings, :action => :room, :room => @room.id %>